<!-- Preline Js -->
<script src="assets/libs/preline/preline.js" ></script>

<!-- Lucide Js -->
<script src="assets/libs/lucide/umd/lucide.min.js"></script>

<!-- Gumshoe Js -->
<script src="assets/libs/gumshoejs/gumshoe.polyfills.min.js"></script>

<!-- Jarallax Js -->
<script src="assets/libs/jarallax/jarallax.min.js"></script>

<!-- Swiper Bundle Js -->
<script src="assets/libs/swiper/swiper-bundle.min.js"></script>

<!-- Swiper Js -->
<script src="assets/js/swiper.js"></script>

<!-- Main App Js -->
<script src="assets/js/app.js" ></script>